@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
  background: #222;
  color: #fff;
}

#cabecalho {
  background: #000;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 32px;
}

#menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: #000;
  text-align: center;
}

#menu a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

#menu.ativo {
  display: block;
}


.tela-cheia {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#vitor {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

#sobre {
  background: #fff;
  color: #000;
  padding: 60px 20px;
  text-align: center;
}

.tela-2 {
  padding: 60px 20px;
  text-align: center;
}

.projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  background: #fff;
  color: #000;
}

.projetos h1 {
  grid-column: 1 / -1;
  text-align: center;
}

.projeto {
  background: #eee;
  padding: 15px;
  border-radius: 8px;
}

.projeto img {
  width: 100%;
  border-radius: 8px;
}

body.dark {
  background: #121212;
  color: #fff;
}

body.dark #cabecalho {
  background: #1e1e1e;
}

#theme-toggle {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

#theme-toggle span {
  font-size: 22px;
  color: #fff;
}

body.dark #theme-toggle {
  border-color: #fff;
}

body.dark #theme-toggle span {
  color: #ffd700;
}


@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  #menu {
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  #menu a {
    padding: 0 15px;
  }

  .projetos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .projetos {
    grid-template-columns: 1fr;
  }
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
